@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Red+Hat+Display:wght@300;400;500;700&display=swap')

$white-1: #FFFFFF
$white-2: #F2F2F2
$white-trans: #ffffffac
$bg-gray: #FAFAFA
$bg-gray-2: #F8F8F8
$purple: #78246D
$red: #ff00001b
$rose-1: #F9E6E6
$rose-2: #EBACAC
$black: #000

::selection
  background-color: $purple
  color: $white-1

html
  min-width: 320px
  scroll-behavior: smooth
  overflow-x: hidden

body
  box-sizing: content-box
  overflow-x: hidden
  font-family: 'Open Sans', sans-serif
  font-family: 'Red Hat Display', sans-serif
  margin: 0
  min-width: 360px
  padding: 0
  transition: all 300ms

h1
  color: $purple
  font-size: 20px
  font-weight: 300
  line-height: 27px
  margin: 0

h2
  color: $purple
  font-size: 11px
  font-weight: 300
  line-height: 27px
  margin: 0

h3,h4,h5,h6
  margin: 0

p
  color: $black
  font-size: 14px
  font-weight: 400
  line-height: 19px
  margin: 0

a,a:link, a:visited, a:active
  color: $black
  font-size: 16px
  font-weight: 500
  line-height: 22px
  text-decoration: none

button
  border: none
  color: $white-1
  font-size: 14px
  font-weight: 400
  line-height: 19px
  text-align: center

table, tr, td
  border: none

main
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  margin: 0 auto

.fresaHeader1
  position: absolute
  width: 117px
  height: 186px
  left: -59px
  top: 157px
  filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

.fresaHeader2
  position: absolute
  width: 251px
  height: 243px
  left: 33%
  top: -85px
  filter: blur(13.5914px)

.fresaAbout2
  position: absolute
  width: 115px
  height: 132px
  left: 63%
  top: 955px
  filter: blur(2.71828px) drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

.fresaAbout3
  position: absolute
  width: 101px
  height: 97px
  left: -63px
  top: 1214px
  filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

.fresaHero1, .fresaHero2, .fresaAbout1, .fresaProducts1, .fresaProducts2
  display: none

@media screen and (min-width: 1180px)

  .fresaHeader1
    position: absolute
    width: 117px
    height: 186px
    left: 15%
    top: -73px
    filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

  .fresaHeader2
    position: absolute
    width: 471px
    height: 455px
    left: 45%
    top: -278px
    filter: blur(13.5914px)

  .fresaHero1
    position: absolute
    width: 139px
    height: 175px
    left: 80%
    top: 549px
    filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

  .fresaHero2
    position: absolute
    width: 317px
    height: 403px
    left: -13%
    top: 503px
    filter: blur(6.7957px)

  .fresaAbout1
    position: absolute
    width: 117px
    height: 186px
    left: 6%
    top: 921px
    filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))
    transform: rotate(46deg)

  .fresaAbout2
    position: absolute
    width: 187px
    height: 216px
    left: 93%
    top: 899px
    filter: blur(2.71828px) drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

  .fresaAbout3
    position: absolute
    width: 181px
    height: 175px
    left: -4%
    top: 1307px
    filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

  .fresaProducts1
    position: absolute
    width: 139px
    height: 175px
    left: 17%
    top: 1393px
    filter: drop-shadow(0px 62px 34px rgba(0, 0, 0, 0.0636606))

  .fresaProducts2
    position: absolute
    width: 317px
    height: 403px
    left: 87%
    top: 1290px
    filter: blur(6.7957px)
