@import 'globals.sass'

header
  align-items: center
  backdrop-filter: blur(10px)
  background-color: $white-trans
  display: flex
  justify-content: center
  width: 100%
  z-index: 100

  .container
    display: flex
    align-items: center
    justify-content: space-between
    margin: 18px 20px 12px 20px
    width: 100%

    @media screen and (min-width: 1180px)
      width: 1200px

    .imgContainer>img
      width: 130px
      height: 50px

    .navbar
      display: flex
      align-items: center
      justify-content: space-between

      .navbarContainerLink, .navbarContainerRed
        display: none
        margin: 0 20px 0 0

        @media screen and (min-width: 1180px)
          display: flex
          align-items: center
          justify-content: center

          ul
            display: flex
            align-items: center
            justify-content: center

            li
              list-style: none

          .navLinks
            gap: 55px

          .redesSociales
            gap: 24px

      .menuIcon
        display: block

        @media screen and (min-width: 1180px)
          display: none

// NAVBAR TOGGLE
.menuOpen
  display: block
  width: 50%
  height: fit-content
  backdrop-filter: blur(10px)
  background-color: $white-1
  position: absolute
  top: 100%
  right: 0
  border-radius: 20px
  padding: 20px
  margin: 10px

.menuClosed
  display: none

.navbarContainerLinkToggle, .navbarContainerRedToggle
  .navLinks, .redesSociales
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 10px
    margin: 0 auto
    padding: 0

  .redesSociales
    flex-direction: row
    gap: 20px
    margin: 20px 0 0 0

  li
    list-style: none
