@import 'globals.sass'

.heroContainer
  display: flex
  align-items: center
  background-color: $white-1
  background-image: url('../assets/background-hero.svg')
  background-position: bottom
  background-repeat: no-repeat
  background-size: cover
  flex-direction: column
  justify-content: center
  width: 100%
  z-index: -1

  .container
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-between
    margin: 17px 20px 70px 20px
    width: 100%

    @media screen and (min-width: 1180px)
      flex-direction: row
      justify-content: center
      gap: 130px
      width: 100%
      margin: 58px auto 165px auto

    .imgProducto > img
      height: 243.13px
      transform: rotate(15deg)
      width: 90.45px
      filter: drop-shadow(40px 102px 45px rgba(0, 0, 0, 0.10193))

      @media screen and (min-width: 1180px)
        height: 403px
        width: 148px

    .aboutHero
      display: flex
      align-items: flex-start
      flex-direction: column
      justify-content: center
      text-align: start
      width: 100%

      @media screen and (min-width: 1180px)
        width: 574px

      div
        margin: 0 20px

      .saboresHero
        display: flex
        align-items: center
        font-size: 14px
        font-weight: 400
        justify-content: space-between
        margin: 27.75px 20px 19px 20px

        div
          display: flex
          gap: 10px
          justify-content: center

          span
            display: flex
            align-items: center
            background-color: transparent
            border-radius: 11.5px
            border: solid 0.5px #00000014
            justify-content: space-between
            padding: 0 18px
            cursor: pointer
            transition: all 300ms ease

            &:active, &:hover
              background-color: $red
              border: solid 0.5px transparent

        @media screen and (min-width: 1180px)
          margin: 25px 20px

      .titleHero>h1
        @media screen and (min-width: 1180px)
          font-size: 40px

      .infoHero
        align-items: stretch
        display: flex
        flex-direction: column
        justify-content: center

        p
          margin: 10px auto
          font-weight: 300
          color: $black

          @media screen and (min-width: 1180px)
            margin: 30px auto
            font-size: 17px

        button
          background-color: $purple
          width: 100%
          height: 40px
          font-weight: 400
          transition: all 300ms ease
          cursor: pointer

          &:hover
            background-color: #57194f

          @media screen and (min-width: 1180px)
            width: 243px

      .imgInfoHero
        display: flex
        align-items: center
        gap: 26px
        justify-content: center
        margin: 36px auto 21px auto

        img:first-child
          width: 62px
          height: 62px

        img:last-child
          width: 86px
          height: 62px

        @media screen and (min-width: 1180px)
          margin: 33px 0 0 20px

  .arrowIcon
    position: relative
    bottom: 80px
