@import 'globals.sass'

.productsContainer
  display: flex
  align-items: center
  background-image: url('../assets/background-products.png')
  flex-direction: column
  justify-content: center
  width: 100vw

  .container
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    margin: 0 0 101px 0

    .productsTitle
      text-align: center
      margin: 40px auto 170px auto

      h1
        font-size: 22px
        line-height: 30px

    .productsVitalinea
      display: flex
      align-items: center
      justify-content: center
      gap: 20px

      div
        display: flex
        align-items: center
        flex-direction: column
        justify-content: flex-end
        height: 230px

        .vitalineaGriego
          height: 106px
          width: 178px
          object-fit: contain

        .vitalineaAzucar
          height: 134px
          width: 114px
          object-fit: contain

        .vitalineaBebible
          height: 207px
          width: 148px
          object-fit: contain

        h2
          font-size: 11px
          line-height: 15px
